<form {{action 'addKategori' kategori on='submit'}}>
    Nama Kategori : {{input value = kategori.nama_kategori}} <br>
    <button class="btn btn-success" type="submit">add</button>
</form>
<table>
    <tr>
        <th>Kode</th>
        <th>Nama kategori</th>
        <th>Action</th>
        
    </tr>
    {{#each model as |item|}}
    <tr>
        <td>KTR00{{item.kode_kategori}}</td>
        <td>{{item.nama_kategori}}</td>
        <td><button class="btn btn-danger" {{action 'hapusKategori' item.id}}>Delete</button>
       {{#link-to 'kategori.edit' item.id tagName='button' class="btn btn-warning" }}Edit{{/link-to}}</td>
    
    </tr>
    {{/each}}
</table>