<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<form {{action 'addKategori' kategori on='submit'}}>
    <div class="form-group">
        <label for=""> Nama Kategori : </label>
        {{input value = kategori.nama_kategori class="form-control" required=true}}
    </div>
        <button class="btn btn-success" type="submit">Simpan</button>
</form>
<br>


        <table class="table table-striped">
            <thead class="table-dark">  
                <tr>
                    <th scope="col">Kode</th>
                    <th scope="col">Nama kategori</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                    {{#each model as |item|}}
                    <tr>
                        <td>KTR{{item.kode_kategori}}</td>
                        <td>{{item.nama_kategori}}</td>
                        <td>
                            <button class="btn btn-danger" {{action 'hapusKategori' item.id}}>Delete</button>
                            {{#link-to 'kategori.edit' item.id tagName='button' class="btn btn-warning" }}Edit{{/link-to}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        