		<form {{action "addNewUser" user on="submit"}} style="margin-top: 5%">
		    <center>
		    	<div class="form-group">Name : {{input required=true value=user.name size="30" }}</div><br>
			    <div class="form-group">Value : {{input required=true value=user.value size="30"}}</div><br>
			    <div>
			    	<button type="submit" class="btn btn-success">Add</button>
			    </div>		
		    </center>    
		</form>
		<br>
		<form>
        <div>
			<table id="myUL">
				<tr>
					<th>name</th>
					<th>value</th>
					<th>date created</th>
					<th>date updated</th>
					<th>action</th>
				</tr>
				{{#each model as |item|}}					
					<tr>
						<td>{{item.name}}</td>
						<td>{{item.value}}</td>
						<td>{{ item.created}} </td>
						<td>{{ item.updated}} </td>
						<td>
							<button {{action "deleteUser" item}} class="btn btn-danger">Delete</button>
							{{#link-to 'user.edit' item.id tagName='button' class="btn btn-warning" }}Edit{{/link-to}}
						</td>
					</tr>
				{{/each}}
			</table>
		</div>
</form>
