<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<form>
    <div class="form-group">
        <label for=""> nama barang :</label>
        {{input  class="form-control" value=model.nama_barang required=true}}
    </div>
    <div class="form-group">
        <label for=""> departemen :</label> 
            <select class="form-control">
                {{#each model.departemen as |item|}}
                    <option selected hidden>---</option>
                    <option value="{{item.nama_departemen}}">{{ item.nama_departemen}}</option>
                {{/each}}
            </select>    
        {{!-- {{input class="form-control" value=model.nama_departemen required=true}} --}}
    </div>
    <div class="form-group">
        <label for=""> kategori :</label> 
        <select class="form-control">
            {{#each model.kategori as |item|}}
                <option selected hidden>---</option>
                <option value="{{item.nama_kategori}}">{{ item.nama_kategori}}</option>
            {{/each}}
        </select>     
        {{!-- {{input class="form-control" value=model.nama_kategori required=true}} --}}
    </div>
    
    <button class="btn btn-warning" type="submit" {{action 'updateBarang' model.id}} >Update</button>
    <button class="btn btn-danger" {{action 'cancel'}} >cancel</button>
</form>




