<form{{action 'addBarang' barang on='submit'}} >
    nama barang : {{input value = barang.nama_barang required=true}} <br>
    stok : {{input value = barang.stok required=true}}
    <button type="submit">Add</button>
</form>
<table>
    <tr>
        <th>nama barang</th>
        <th>stok</th>
        <th>created</th>
        <th>updated</th>
        <th>action</th>
    </tr>
    {{#each model as |item|}}
    <tr>
        <td>{{item.nama_barang}} </td>
        <td>{{item.stok}} </td>
        <td>{{format-date item.created}} </td>
        <td>{{format-date item.updated}} </td>
        <td>
            <button class="btn btn-danger" {{action 'deleteBarang' item}} >Delete</button>
            {{#link-to 'barang.edit' item.id tagName='button' class="btn btn-warning" }}Edit{{/link-to}}
        </td>
    </tr>
    {{/each}}
</table>