<form{{action 'addBarang' barang on='submit'}}>
    <table>
        <tr>
            <td>Nama Barang</td>
            <td>:</td>
            <td>{{input value = barang.nama_barang required=true}}</td>
        </tr>
        <tr style="background-color: white">
            <td>departement</td>
            <td>:</td>
            <td>{{input }} </td>
        </tr>
        <tr>
            <td>kategori</td>
            <td>:</td>
            <td>{{input }} </td>
        </tr>
        <tr style="background-color: white">
            <td colspan="3">
                <button type="submit">Add</button>
            </td>
        </tr>
    </table>
</form>
<table>
    <tr>
        <th>no</th>
        <th>nama barang</th>
        <th>created</th>
        <th>updated</th>
        <th>action</th>
    </tr>
    {{#each model as |item|}}
    <tr>
        <td>Inv/dep/kat/{{item.kode_barang}} </td>
        <td>{{item.nama_barang}} </td>
        <td>{{format-date item.created}} </td>
        {{!--<td>{{format-date item.updated}} </td>--}}
        <td>
            {{#if item.updated}} 
                {{format-date item.updated}}
            {{else}}
                -
            {{/if}}    
        </td>
        <td>
            <button class="btn btn-danger" {{action 'deleteBarang' item}} >Delete</button>
            {{#link-to 'barang.edit' item.id tagName='button' class="btn btn-warning" }}Edit{{/link-to}}
        </td>
    </tr>
    {{/each}}
</table>