<form{{action 'addBarang' barang on='submit'}}>
    <table>
        <tr>
            <td>Nama Barang</td>
            <td>:</td>
            <td>{{input value = barang.nama_barang required=true}}</td>
        </tr>
        <tr style="background-color: white">
            <td>departement</td>
            <td>:</td>
            <select onchange={{action "selected" value="target.value"}}>
                {{#each departemens as |item|}}
                    <option selected hidden>---</option>
                    <option value="{{item.nama_departemen}}">{{ item.nama_departemen}}</option>
                {{/each}}
        </select>  
        </tr>
        <tr>
            <td>kategori</td>
            <td>:</td>
            <select onchange={{action "selectedkat" value="target.value"}}>
            {{#each kategoris as |item|}}
            <option selected hidden>---</option>
            <option value="{{item.nama_kategori}}">{{ item.nama_kategori}}</option>
        {{/each}}
        </select> 
        </tr>
        <tr style="background-color: white">
            <td colspan="3">
                <button type="submit">Add</button>
            </td>
        </tr>
    </table>
</form>
<table>
    <tr>
        <th>kodebarang</th>
        <th>nama barang</th>
        <th>departement</th>
        <th>created</th>
        <th>updated</th>
        <th>action</th>
    </tr>
    {{#each barangs as |item|}}
    <tr>
        <td>{{item.nama_departemen}}/{{item.nama_kategori}}/{{item.kode_barang}} </td>
        <td>{{item.nama_barang}} </td>
        <td>{{item.kode_departemen}} </td>
        <td>{{format-date item.created}} </td>        
        <td>
            {{#if item.updated}} 
                {{format-date item.updated}}
            {{else}}
                -
            {{/if}}    
        </td>
        <td>
            <button class="btn btn-danger" {{action 'deleteBarang' item}} >Delete</button>
            {{#link-to 'barang.edit' item.id tagName='button' class="btn btn-warning" }}Edit{{/link-to}}
        </td>
    </tr>
    {{/each}}
</table>