<form {{action 'addKaryawan' karyawan on='submit'}}>
    Nama Karyawan : {{input value=karyawan.nama_karyawan}} <br>
    Departemen : 

    <select >
        {{#each departemens as |item|}}
            <option selected hidden>---</option>
            <option value="karyawan.kode_departemen">{{ item.nama_departemen}}</option>
        {{/each}}    
    </select>
    

    <button class="btn btn-success" type="submit">add</button>
</form>
<table>
    <tr>
        <th>No</th>
        <th>Dept</th>
        <th>Nama karyawan</th>
        <th>Action</th>
    </tr>
    {{#each karyawans as |item|}}
    <tr>
        <td>{{item.kode_karyawan}} </td>
        <td>{{item.kode_departemen}}</td>
        <td>{{item.nama_karyawan}}</td>
        <td>
            <button {{action 'deleteKaryawan' item.id}}>Delete</button>
            {{!--<button {{action 'updateKaryawan' item.id}}>Edit</button>--}}
            {{#link-to 'karyawan.edit' item.id tagName='button' class="btn btn-warning" }}Edit{{/link-to}}
        </td>
    </tr>
    {{/each}}
</table>