<form {{action 'addKaryawan' karyawan on='submit'}}>
    Nama Karyawan : {{input value=karyawan.nama_karyawan}} <br>
    Departemen : 

    <select onchange={{action 'selected' value='target.value'}}> 
        {{#each departemens as |item|}}
            <option selected hidden>---</option>
            <option value="{{item.nama_departemen}}">{{ item.nama_departemen}}</option>
        {{/each}}    
    </select>
     {{!-- <select class=“w-max-200” onchange={{action ‘sortBy’ value=‘target.value’}}>
      {{#each sortBy as |ops|}}
        <option value={{ops.value}}>{{ops.label}}</option>
      {{/each}}</select> --}}
   

    <button class="btn btn-success" type="submit">add</button>
</form>
<table>
    <tr>
        <th>No</th>
        <th>Dept</th>
        <th>Nama karyawan</th>
        <th>Action</th>
    </tr>
    {{#each karyawans as |item|}}
    <tr>
        <td>{{item.kode_karyawan}} </td>
        <td>{{item.nama_departemen}}</td>
        <td>{{item.nama_karyawan}}</td>
        <td>
            <button {{action 'deleteKaryawan' item.id}}>Delete</button>
            {{!--<button {{action 'updateKaryawan' item.id}}>Edit</button>--}}
            {{#link-to 'karyawan.edit' item.id tagName='button' class="btn btn-warning" }}Edit{{/link-to}}
        </td>
    </tr>
    {{/each}}
</table>

<br><hr><br>

kjdfhdsh
<select onchange={{action "tekanMasuk" value="target.value"}}>
    <option disabled selected> ===== </option>
    {{#each departemens as |item|}}
    <option value="{{item.nama_departemen}}">{{item.nama_departemen}}</option>
    {{/each}}
</select>

