<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<form {{action 'addDepartemen' departemen on='submit'}}>
    <div class="form-group">
        <label for=""> Nama Departemen :</label>
        {{input value = departemen.nama_departemen class="form-control" required=true}}
    </div>
    <button class="btn btn-success" type="submit">Simpan</button>
</form>

<br>

            <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Kode Departemen</th>
                    <th scope="col">Nama Departemen</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                    {{#each model as |item|}}
                        <tr>
                            <td>{{item.kode_departemen}} </td>
                            <td>{{item.nama_departemen}}</td>
                            <td>
                                <button class="btn btn-danger" {{action 'hapusDepartemen' item.id}}>Delete</button>
                                {{#link-to 'departemen.edit' item.id class='btn btn-warning'}}Edit{{/link-to}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
      
